atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2022.12.7
chardet==4.0.0
idna==2.10
iniconfig==1.1.1
more-itertools==8.6.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==4.0.1
requests==2.25.1
robobrowser==0.5.3
six==1.15.0
soupsieve==2.1
toml==0.10.2
urllib3==1.26.5
Werkzeug==1.0.1
